In [5]:
import pandas as pd

In [6]:
path = "gcp_bucket/sample_vehicle_history.csv"
df = pd.read_csv(path)
df.head()

,id,vehicle_id,location_id,status,created_at,updated_at,deleted_at,start_time,end_time
0,10618,2,4,ONRENT,2022-11-14 0:00:13,2022-11-14 11:30:12,1st data,2022-11-14 0:00:13,2022-11-14 11:30:12
1,10685,2,4,OVERDUE,2022-11-14 11:30:12,2022-11-14 11:49:47,NaN,2022-11-14 11:30:12,2022-11-14 11:49:47
2,10690,2,4,YARD,2022-11-14 11:49:47,2022-11-14 11:49:47,NaN,2022-11-14 11:49:47,2022-11-14 11:49:47
3,10691,2,4,PENDING,2022-11-14 11:49:47,2022-11-14 13:30:38,NaN,2022-11-14 11:49:47,2022-11-14 13:30:38
4,10705,2,4,YARD,2022-11-14 13:30:38,2022-11-14 13:31:49,NaN,2022-11-14 13:30:38,2022-11-14 13:31:49